.behindImgTop{
    display:inline-block;
    z-index: -1;
    position:absolute;
    left: 700px;
    top: 128px;
    visibility: visible;
    animation-duration: 1s;
    animation-delay: 0.5s;
    
}

.damnHeroIndex{
        z-index: 100;
}

.behindImgBottom{
    display:inline;
    z-index: -1;
    position:absolute;
    left: 1120px;
    top: 480px;
    transform: rotate(90deg);
    visibility: visible;
    animation-duration: 1s;
    animation-delay: 0.5s;
}

@media (max-width:1199px) {
  .behindImgBottom{
          display: inline-block;
    left: 780px;
    top: 340px;
  }
  }

    @media (max-width:1410px) {
  .behindImgBottom{
          display: inline-block;
    left: 760px;
    top: 310px;
  }
  }

  @media (max-width:1199px) {
  .behindImgTop{
          display: inline-block;
    left: 700px;
    top: 128px;
  }
  }
  @media (max-width:1086px) {
  .behindImgBottom{
          display: none;
  }
  }

@media (max-width:988px) {
  .behindImgTop{
          display: none;
  }
  }