.benefit .header {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 30px;
}

.benefit button {
  padding: 10px 20px;
  background: #b4f1e5;
  border: 0;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 30px;
  color: #1d7c69;
  cursor: pointer;
  transition: 0.4s;
}

.benefit button:hover {
  background: #6fe4cc;
  color: white;
}

.benefit .gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 23px;
}

.benefit .item {
  width: 100%;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
}

.benefit .item .img {
  text-align: center;
  background-color: orange;
}

.benefit .item img {
  width: 60%;
  margin-top: 35%;
}

.benefit .item .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 30px 20px 20px;
}

.benefit .content a {
  text-decoration: none;
  color: black;
  font-family: var(--heading-font);
  font-size: 20px;
}

.benefit .content p {
  font-family: var(--paragraph-font);
  font-size: 16px;
}
