.course-instructor .header {
  font-size: 35px;
  text-align: center;
  font-family: var(--heading-font);
}

.course-instructor .first {
  flex-direction: column;
  display: flex;
  padding: 15px;
}

.course-instructor .first img {
  display: inline-block;
  width: 60%;
}

.course-instructor .info {
  flex-direction: column;
  margin-bottom: 20px;
  display: flex;
}

.course-instructor .first h3 {
  font-family: var(--heading-font);
  margin-top: 15px;
  font-size: 25px;
}

.course-instructor .first h4 {
  margin-bottom: 20px;
  font-weight: 200;
  font-size: 20px;
  color: grey;
}

.course-instructor .first ul {
  list-style: none;
  font-size: 20px;
}

.course-instructor .first li {
  font-family: var(--paragraph-font);
  margin-bottom: 20px;
  color: rgb(153, 142, 142);
}

.course-instructor .first li:nth-child(1):before {
  content: url(/img/courseInstructors/top.png);
  margin-right: 10px;
}

.course-instructor .first li:nth-child(2):before {
  content: url(/img/courseInstructors/students.png);
  margin-right: 10px;
}

.course-instructor .first li:nth-child(3):before {
  content: url(/img/courseInstructors/course.png);
  margin-right: 10px;
}

.course-instructor .first .icon {
}

.course-instructor .first p {
}
/* second */
.course-instructor .second {
  display: flex;
  flex-direction: column;
}
