body {background-color: #F8F8F8;
margin: 0;
}

header { display: inline-block; background-color: khaki;
    display: inline-block;
    width: 1200px;
    margin-left: calc(50% - 600px);

}

    #logo{ display: inline-block;
 


}

nav { display: inline-block;

}

main { display: inline-block; background-color: lawngreen;
    width: 1200px;
    margin-left: calc(50% - 600px);
}

div { display: inline-block;

}

#img { display: inline-block;

}