body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-break: break-all;
}

header{
    background-color: aqua;
    width: 100%;
    text-align: center;
}

.header {
    background-color: blue;
    width: 800px;
    display: inline-block;
}

#img1 {
    margin-top: 15px;
    margin-bottom: 20px;
}

h1{
   text-transform: uppercase;
   margin-bottom: 20px;

}

.firstp {
   

}

.time {
    display:inline-block ;
    margin: 15px;
    margin-bottom: 20px;
}

#days {

}

form {
    margin-bottom: 20px;
    
}

.hed-input {

}

main {
    background-color:blueviolet;
    text-align: center;
}

.left-modal {
    background-color: yellow;
    display: inline-block;
    width: 400px;
    text-align: left;
}

.h2 {
    margin-bottom: 15px;
}

.leftMp {
    margin-bottom: 15px;
}

label {

}

progress {
    display: block;
    width: 100%;
    margin-bottom: 9px;
}

.right-modal {
    background-color: brown;
    display:inline-block;
    width: 400px;
    text-align: left;
    
}

.rightMp {
    margin-bottom: 15px;
}

.rightMp{

}

a {

}

.input1 {
    width: 49%;
}

.input2 {
    width: 49%;
    float: right;
    
}

.input3 {
    display: block;
    margin-top: 6px;
    width: 100%;
    padding-bottom: 20px;
    
}

.input4 {
    float: right;
    margin-top: 30px;
    padding: 3px 25px;
}

form {

}

footer {
        background-color: aquamarine;
        text-align: center;
        
}

.footer {
    width: 800px;
    background-color: green;
    display: inline-block;
 }

