/* basic/initial styles */
@import './basic/reset.css';
@import './basic/variables.css';
@import './basic/layout.css';

@import './3er-party/font-awesome.min.css';

/* component styles */
@import './components/button.css';
@import './components/clock.css';
@import './components/form.css';
@import './components/mouse.css';
@import './components/progress-bar.css';

/* CUSTOM STYLE FOR HOME PAGE GOES BELOW THIS COMMENT */

.bg-primary {
  background-color: var(--color-primary);
}
.bg-secondary {
  background-color: var(--color-secondary);
}

/* HERO */
.hero {
  min-height: 100vh;
  padding-bottom: 20px;
  background-image: url(../img/hero-background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.hero > .row {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
}

.hero .logo {
  height: 30px;
}

.hero h1 {
  font-size: 70px;
  text-transform: uppercase;
  color: var(--color-dark);
}

.hero p {
  font-size: 18px;
  color: var(--color-grey);
}

.form-hero {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  justify-content: center;
  align-items: center;
}


/* MAIN */
.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

main h2 {
  font-size: 20px;
  text-transform: uppercase;
  color: var(--color-dark);
}

main p {
  font-size: 17px;
  line-height: 1.7em;
  color: var(--color-grey);
}
main p a {
  color: var(--color-secondary);
  text-decoration: none;
}

.form-column {
  display: inline-block;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.form-top1 {
  width: 50%;
  float: left;
}

.form-top2 {
  width: 45%;
  float: right;
}

.button-mane {
  margin-top: 50px;
  float: right;
}

.formMess {
  padding-bottom: 40px;
}

/* FOOTER */
footer.container {
  padding-top: 0;
 
}

.container .socials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  border-bottom: 1px solid #fff;
   position: relative;
}

.socials .socials {
  display: inline-block;
  color: var(--color-light);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  border: 0;
}

.socials .socials:hover {
  background-color: var(--color-light);
  color: var(--color-primary);
  transition: 0.5s;
}

.back-to-top {
  position: absolute;
  top: -26px;
  right: -15px;
}

footer.container > .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fffa;
  font-size: 17px;
  line-height: 1.7em;
  
}
.footer-logo {
  margin: 30px 0;
}
.triple {
  display: flex;
  gap: 0 30px;
}
.triple > p {
  position: relative;
}
.triple > p + p::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 15px;
  background-color: #fff;
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
}
footer > .row a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 640px) {
  .triple {
    flex-direction: column;
  }
  .triple > p + p::before {
    display: none;
  }

}